{% extends "app/layout.html" %}

{% block content %}

    <div class="jumbotron">
      <div class="container">
        <h1>MViG</h1>
        <p>
            MViG-Web Source Code<br>
            <a href="https://github.com/dogancankilment/MViG-Web">
                https://github.com/dogancankilment/MViG-Web
            </a><br>
            <p>MViG is a Django Project</p>
        </p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-10">
          <h2>Project Requirements</h2>
          <li>Django 1.7.0</li>
          <li>Python 2.7</li>
          {# <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>#}
        </div>
      </div>
      <hr>
    </div> <!-- /container -->
{% endblock %}