
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/app/content/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/app/content/signin.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="/static/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
        <form method="POST" action="/user/login" class="form-signin" role="form">

        <h2 class="form-signin-heading">Please sign in</h2>
        {% for field in login_form %}
            <input type="{{field.field.widget.input_type}}" name="{{field.html_name}}" class="form-control" placeholder="{{field.label}}" required autofocus>
        {% endfor %}
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        {% if messages %}
            <ul>
                {% for m in messages %}
                    <li>{{ m }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <!--https://docs.djangoproject.com/en/dev/ref/contrib/messages/ hata mesajı buradan alındı-->
        <h4><a href="/user/signup">Signup For Beginning</a></h4>
        <h5><a href="/">Return to Home</a></h5>
        </form>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
