{% extends "app/layout.html" %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="span8 well" style="padding-bottom:0">
            <form accept-charset="UTF-8" action="" method="POST">
                <div><h4>Message Reciever</h4></div>
                <div>
                   <input type="text" class="form-control" placeholder="Ex: 0551 212 87 36">
                </div>

                <div><h4>Message Content</h4></div>
                <div>
                    <textarea class="form-control" id="new_message" name="new_message"
                    placeholder="Type in your message" rows="7"></textarea>
                </div>
                {% csrf_token %}
                <br>
                <button class="btn btn-info" type="submit">Send New Message</button>
            </form>
        </div>
	</div>
</div>

{% endblock %}
