{% extends "app/layout.html" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="span8 well" style="padding-bottom:0">
                <h2 class="sub-header">Messages History</h2>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>Image</th>
                            </tr>
                        </thead>
                        {% for m in messages %}
                        <tbody>
                            <tr>
                                <td>{{ m.id }}</td>
                                <td><image src="/{{ m.image }}"></image></td>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}