{% extends "app/layout.html" %}

{% block content %}

    <div class="jumbotron" align="center">
      <div class="container">
          <h1 style="color: #2ecc71">MViG</h1>
            <p>
                MViG Github Source Code<br>
                <a href="https://github.com/dogancankilment/MViG-Web">
                https://github.com/dogancankilment/MViG
                </a><br>
            </p>
            <p>MViG is a Django & Android Project</p>
            <h3 style="color: #2ecc71">Authors and Colobrators</h3>
            <h4>Doğan Can KİLMENT - Mustafa Efe</h4>
            <img class="img-circle" width="100" height="100" src="static/theme/img/android.png">
            <img class="img-circle" width="100" height="100" src="static/theme/img/django.png">
            <img class="img-circle" width="100" height="100" src="static/theme/img/python.png">
            <img class="img-circle" width="100" height="100" src="static/theme/img/java.png">
            <p>
                <img class="img-rounded" width="200" height="200" src="static/theme/img/Sms-new.png">
            </p>
        </p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">

      </div>
    </div> <!-- /container -->
{% endblock %}