<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MViG</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
</head>

<body>
<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">MViG</a>
        </div>
        {% if request.user.is_authenticated %}
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li ><a href="/message/send_message">SendMessage</a></li>
                <li><a href="/message/show_messages">Message History</a></li>
                <li><a href="/message/test_messages">Test Messages</a></li>
                <li><a href="/user/test_users">Test Users</a></li>

            </ul>
        {% endif %}
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'logout' %}"><i class="glyphicon glyphicon-lock"></i> Logout</a></li>
                {% else %}
                    <li><a href="{% url 'mvig_login' %}"  class="glyphicon glyphicon-lock">Login</a></li>
                {% endif %}
            </ul>
        </div><!-- /.nav-collapse -->

    </div><!-- /.container -->
</nav><!-- /.navbar -->

<div>
    {% block page_content %}{% endblock page_content %}
    {% block content %}{% endblock content %}
</div>

    <div class="container body-content">
        <hr/>
        <footer>
            <p>&copy; MViG</p>
        </footer>
    </div>

    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
{% block scripts %}{% endblock %}

</body>
</html>
