{% extends "app/layout.html" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="span8 well" style="padding-bottom:0">
                <form id="message_form" accept-charset="UTF-8" action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div>
                        <h4>Message Reciever</h4>
                        {{ form.destination_number }}
                    </div>
                    <div>
                        <h4>Message Content</h4>
                        {{ form.message_content }}
                    </div>
                        <button class="btn btn-info" type="submit">Send New Message</button>
                    </div>
                    <br>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}