{% extends "app/layout.html" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="span8 well" style="padding-bottom:0">
                <h2 class="sub-header">Messages History</h2>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>Destination Number</th>
                                <th>Message Content</th>
                            </tr>
                        </thead>
                        {% for u in users %}
                        <tbody>
                            <tr>
                                <td>{{ u }}</td>
                                <td>{{ u.email }}</td>
                                <td>{{ u.username }}</td>
                                <td>{{ u.password }}</td>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}